body {
  margin: 0;
  overflow-x: hidden;
}

main {
  background: #000;
  font-family: "Gilroy";

  h1,
  h2,
  h3,
  p {
    color: #a88d16;
    z-index: 10;
    text-align: center;
  }

  &.home h1,
  .work h1 {
    font-size: clamp(60px, 10vw, 100px);
    margin: 0 0 38px 0;

    @media (min-width: 767px) {
      white-space: nowrap;
    }
  }

  h2 {
    font-size: clamp(60px, 12vw, 145px);
    text-align: center;
    color: #fff;
    margin: 0;
  }

  h6 {
    font-family: GilroyRegular;
    font-size: clamp(14px, 3vw, 30px);
    font-weight: 500;
    text-align: center;
    color: #00384a;
    margin: 0;
  }

  h3 {
    font-size: clamp(35px, 5vw, 45px);
    margin: 0;
  }

  &.home h3 {
    display: inline;
  }

  @media (max-width: 767px) {
    max-width: 100vw;
  }
}

nav {
  position: fixed;
  top: 30px;
  left: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 12;
  width: 70px;

  .top,
  .menu {
    display: flex;
    justify-content: center;
    height: 70px;
  }

  .top {
    align-items: center;
    background-color: #fff;
    border-radius: 8px 8px 0 0;

    svg {
      cursor: pointer;
    }
  }

  .menu {
    gap: 5px;
    flex-direction: column;
    background-color: #00384a;
    border-radius: 8px;
    padding: 0 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      height: 3px;
      background: #fff;
      transition: 0.35s ease-in-out;

      &:nth-child(1) {
        width: 68%;
        margin-left: auto;
      }

      &:nth-child(2) {
        width: 100%;
        margin: 0 auto;
      }

      &:nth-child(3) {
        width: 68%;
        margin-right: auto;
      }
    }

    &:hover {
      span:nth-child(1) {
        transform: translateX(-42%);
      }

      span:nth-child(3) {
        transform: translateX(42%);
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          width: 28px;
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          width: 28px;
          transform: rotate(315deg);
          transform-origin: 10% 10%;
        }
      }
    }
  }

  @media (max-width: 767px) {
    width: 50px;
    top: 16px;
    left: 16px;

    .top,
    .menu {
      height: 50px;
    }

    .menu {
      padding: 0 12px;

      span {
        height: 2px;
      }

      &.open {
        span:nth-child(1),
        span:nth-child(3) {
          width: 95%;
        }
      }
    }
  }
}

.nav-menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(90px);
  z-index: 11;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 15px;
  transition: 0.5s ease;
  transition-timing-function: ease-out;

  &.close {
    visibility: hidden;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color: #00384a;

      h4,
      h5 {
        line-height: 150%;
        margin: 0;
      }

      h4 {
        font-size: 40px;
      }

      h5 {
        font-size: 24px;
      }

      a {
        position: relative;
        text-decoration: none;
        color: #00384a;

        &::before {
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          inset: 0 0 0 0;
          background: lightblue;
          z-index: -1;
          transition: transform 0.5s ease;
          transform: scaleX(0);
          transform-origin: bottom right;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &.title {
        font-size: 14px;
      }

      & + li {
        margin-top: 10px;
      }
    }
  }

  .science {
    margin: 30px 0;
  }

  @media (min-width: 767px) {
    top: 15px;
    left: 15px;
    padding: 20vh 15vw 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);

    li.social {
      margin-top: 120px;
    }
  }

  @media (max-width: 767px) {
    top: 5px;
    left: 5px;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);

    ul + div {
      margin-top: 8vh;
    }
  }
}

// main:not(.form) .hero {
//   cursor: none;
// }

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  animation: gradients 20s infinite alternate;
  background-repeat: no-repeat;
  background-size: cover;

  span {
    white-space: nowrap;

    &:nth-child(odd) {
      animation: scroll-left 2s linear infinite alternate;
    }

    &:nth-child(even) {
      animation: scroll-right 2s linear infinite alternate;
    }
  }

  $positions: (
    (100px, 200px, 30deg),
    (50px, 800px, 60deg),
    (300px, 400px, 90deg)
  );

  b {
    color: #fff;
    font-size: 16px;
    font-family: cursive;
    animation: grow 2s ease infinite alternate;

    &::before {
      content: "#";
      letter-spacing: 2px;
    }

    @for $i from 1 through length($positions) {
      $top: nth(nth($positions, $i), 1);
      $left: nth(nth($positions, $i), 2);
      $rotate: nth(nth($positions, $i), 3);

      &:nth-child(#{$i}) {
        position: absolute;
        top: $top;
        left: $left;
        transform: rotate($rotate);
      }
    }
  }

  .links {
    display: flex;
    font-size: 2em;
    position: absolute;
    left: 100px;
    top: 150px;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;

    &:hover + .overlay .hollow {
      transform: translate(-50%, -50%) scale(2);
    }
  }

  .marquee {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 34px;

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 24px;
    }
  }

  .overlay {
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;

    .hollow {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 400px;
      height: 400px;
      box-shadow: inset 0px 0px 40px 50px #fff;
      border-radius: 50%;
      color: #2e99bb;
      clip-path: circle(49% at 50% 50%);
      transition-duration: 0.8s;
      transition-timing-function: ease-out;
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%) translateZ(0);
      background: #000;

      @media (max-width: 767px) {
        width: 300px;
        height: 300px;
        top: -150px;
        left: -150px;
      }
    }
  }

  .title {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    mix-blend-mode: multiply;

    @media (max-width: 767px) {
      p {
        font-size: 24px;
        width: 200px;
        margin: auto;
      }
    }
  }
}

.sections {
  overflow: hidden;
}

.about {
  // background: url("../../images/about-vector.svg") no-repeat;
  background-size: cover;

  p {
    font-family: GilroyRegular;
    max-width: 800px;
    margin: 50px auto 0;
    line-height: 160%;
    padding: 0 50px;
  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .top-blur,
    .center-blur {
      animation: grow 5s ease infinite alternate;
    }

    .top-blur {
      position: absolute;
      top: -450px;
      left: -450px;
      width: 900px;
      height: 900px;
      background-color: #e4c3c9;
      border-radius: 50%;
      z-index: -1;
    }

    .center-blur {
      position: absolute;
      top: 50%;
      right: -350px;
      width: 500px;
      height: 500px;
      background-color: #e7cfde;
      border-radius: 50%;
      z-index: -1;
    }

    h1 {
      font-size: clamp(45px, 10vw, 65px);
      max-width: 636px;
      margin: auto;
    }
  }

  @media (max-width: 767px) {
    section + section {
      margin-top: 200px;
    }

    h1 {
      padding: 0 55px;
    }

    p {
      padding: 0 55px;
      margin: 20px auto 0;
    }

    .banner {
      padding-top: 136px;
    }

    .top-blur {
      transform: scale(0.5);
      filter: blur(85px);
    }

    .center-blur {
      transform: scale(0.75);
      filter: blur(85px);
    }

    footer {
      margin-top: 250px;
    }
  }

  @media (min-width: 767px) {
    .banner {
      min-height: 100vh;
      overflow: hidden;
    }

    .top-blur,
    .center-blur {
      filter: blur(55px);
    }

    .services {
      height: 100vh;
    }

    footer {
      margin-top: 480px;

      h2 {
        margin-bottom: 250px;
      }
    }

    section + section {
      margin-top: 200px;
    }
  }
}

.form {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    max-width: 700px;
    margin: auto;

    h3 {
      color: #fff;
      margin-bottom: 60px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 16px;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      font-family: Gilroy;
      color: #fff;
      padding: 5px 0;
      width: 100%;
      resize: none;

      &::placeholder {
        color: #ddd;
      }
    }

    > div + div {
      margin-top: 30px;
    }

    a,
    button {
      font-size: 24px;
      background: none;
      border: none;
      color: #fff;
      font-family: Gilroy;
      border-bottom: 1px solid #fff;
      margin-top: 70px;
      padding: 0 0 2px;
      text-decoration: none;
      cursor: pointer;

      &.center {
        margin: 40px auto 0;
      }

      &:hover {
        border-bottom: 1px solid #00384a;
      }
    }
  }

  @media (max-width: 767px) {
    form {
      padding: 0 25px;
      text-align: center;

      h3 {
        padding: 0 50px;
      }

      a {
        margin-top: 30px;
      }
    }
  }
}

.dash {
  width: 30px;
  margin: 0 10px;
  border-bottom: 1px solid #00384a4d;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  mix-blend-mode: multiply;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    transform: translateX(-100px);
  }
}

$gradientImages: 3; // Number of gradient images

@keyframes gradients {
  @for $i from 0 through $gradientImages {
    $percentage: percentage($i / $gradientImages); // Calculate the percentage
    $url: url("./images/gradients/#{$i + 1}.svg"); // Generate the URL

    #{$percentage} {
      background-image: $url;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-50px);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(10px);
  }
}
